@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Reseteo */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/* Variables */
:root {
  /* Colores */
  --primario: #131415;
  /* fuentes */
  --fuente1: "Roboto";
}

.centradoFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}

body {
  background: url(../assets/img/background.png);
  font-family: var(--fuente1);
}
main {
  padding-top: 180px;
}
/* Header */
header {
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  box-shadow: 0 8px 50px rgba(3, 3, 2, 0.849);
  position: fixed;
  width: 100%;
  font-weight: 400;
  z-index: 1000;
  background: url(../assets/img/background.png);
  backdrop-filter: blur(8px);
}
.logo {
  margin-top: 1rem;
  width: 150px;
  border-radius: 1.2rem;
  /* box-shadow: 1px 13px 72px 15px rgb(12, 2, 2);
-webkit-box-shadow: 1px 13px 72px 15px rgba(0,0,0,0.38);
-moz-box-shadow: 1px 13px 72px 15px rgba(0,0,0,0.38); */
}
/* .logo:hover { 
 box-shadow: 1px 13px 72px 15px rgba(15,3,3,0.82);
-webkit-box-shadow: 1px 13px 72px 15px rgba(15,3,3,0.82);
-moz-box-shadow: 1px 13px 72px 15px rgba(15,3,3,0.82);
} */
.menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  position: absolute;
  top: 180px;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: 80px;
  transform: translateX(200%);
  transition: all 0.4s ease;
  font-size: 1.5rem;
  background: url(../assets/img/background.png);

}
#toggle-menu {
  display: none;
}
.navbar-link {
  text-decoration: none;
  color: var(--primario);
  font-weight: 300;
  padding: 0.5rem;
}
.navbar-link:hover {
  cursor: pointer;
  text-shadow: 4px 6px 19px rgba(144,32,32,0.69);
}
.bars-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  border-radius: 2rem;
}
.bars-menu span {
  height: 2px;
  width: 30px;
  background: var(--primario);
  transition: transform 0.3s;
}
.bars-menu span:hover {
  cursor: pointer;
}
#toggle-menu:checked ~ .navbar-list {
  display: flex;
  transform: translateX(0);
}
#toggle-menu:checked ~ .bars-menu span:nth-child(1) {
  position: absolute;
  top: 0;
  transform: rotate(135deg);
}
#toggle-menu:checked ~ .bars-menu span:nth-child(2) {
  opacity: 0;
}
#toggle-menu:checked ~ .bars-menu span:nth-child(3) {
  position: absolute;
  top: 0;
  transform: rotate(225deg);
}

/* hero */

.carousel-item img {
  width: 100%;
  height: calc(100vh - 180px);
  object-fit: cover;
}
/* CTA */

.CTA{
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  flex-direction: column; /* importante */
  align-items: center;
  gap: 30px;
}
.cta-container{
  width: 90%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  align-items: center;
}

.cta-card{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 320px;

}

.cta-acordeon {
  width: 100%;
  max-width: 400px;
}
.accordion {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  background: white;
}
.accordion-item{
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.accordion-item:last-child{
  border-bottom: none;
}
.accordion-button{
  background: white;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--primario);
  padding: 18px;
  transition: all .3s ease;
}
.accordion-button:hover{
  background: #f7f7f7;
}
.accordion-button:not(.collapsed){
  background: var(--primario);
  color: white;
  box-shadow: none;
}

.cta-card:hover {
  transform: translateY(-10px);
}

.cta-card img {
  height: 180px;
  object-fit: cover;
}

.cta-card .card-body {
  text-align: center;
}

.cta-card .btn {
  background: var(--primario);
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  transition: all 0.3s ease;
}

.cta-card .btn:hover {
  background: #000;
}
.btn-cta {
  display: inline-block;
  background: var(--primario);
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 200px;
  text-align: center;
  
}

.btn-cta:hover {
  background: #000;
  transform: scale(1.05);
}
.accordion-button:focus{
  box-shadow: none;
  border-color: transparent;
}
.accordion-body{
  background: #fafafa;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #555;
}
/* products */
.galeria {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90vw;
  align-items: center;
  justify-content: center;

    

}
.container-galeria {
  display: grid;
  grid-template-columns: 1fr; /* mobile */
  gap: 20px;
  padding: 1rem;
  width: 100%;
}
.card{
  width: 100%;
}
/* contacto */

.contacto{
  width: 100%;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.contacto-container{
  width: 90%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

/* info */

.contacto-info h2{
  font-size: 2rem;
  margin-bottom: 15px;
}

.contacto-info p{
  margin-bottom: 20px;
  color: #555;
}

.contacto-info ul{
  margin-bottom: 20px;
}

.contacto-info li{
  margin-bottom: 10px;
}

/* form */

.contacto-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto-form input,
.contacto-form textarea{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: var(--fuente1);
}

.contacto-form input:focus,
.contacto-form textarea:focus{
  outline: none;
  border-color: var(--primario);
}


.btn-enviar{
  background: var(--primario);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-enviar:hover{
  background: black;
}

.btn-whatsapp{
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #25D366;
  color: white;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.btn-whatsapp:hover{
  background: #1ebe5d;
}
/*footer*/

.footer{
  background: var(--primario);
  color: white;
  padding-top: 50px;
}

.footer-container{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding-bottom: 40px;
}

.footer h3,
.footer h4{
  margin-bottom: 10px;
}

.footer p{
  color: #ccc;
}

.footer ul{
  padding: 0;
}

.footer li{
  margin-bottom: 8px;
}

.footer a{
  color: #ccc;
  transition: 0.3s;
}

.footer a:hover{
  color: white;
}

.footer-copy{
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 0.9rem;
  color: #aaa;
}
/* tablet */
@media (min-width: 600px) {
  .container-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
   .contacto-container{
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
/* Version desktop */
@media (min-width: 940px) {
  header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1000;
  
  }
  /* Navbar desktop */
  .menu {
  display: flex;
  }
  .bars-menu {
  display: none;
  }
  .menu ul {
  display: flex;
  flex-direction: row;
  background: transparent;
  width: 100%;
  height: 80px;
  position: static;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transform: translateX(0);
  transition: all ease;
  font-size: 1rem;
  padding: 1rem;
  }
  .navbar-link {
  text-decoration: none;
  color: var(--primario);
  font-weight: 300;
  font-size: 1.4rem;
  }
  .container-galeria {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .footer-container{
    grid-template-columns: repeat(3,1fr);
  }
  .cta-container{
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
}
